.task3_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task3_line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.task3_img {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 32%;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
    border-radius: 10px;
    cursor: pointer;
}

.task3_active1 {
    border: 5px solid blue;
}

.task3_active2 {
    border: 5px solid rgb(238, 255, 0);
}

.task3_active3 {
    border: 5px solid rgb(134, 42, 170);
}

.task3_img img {
    height: 90%;
}

.task3_checkTask {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.task3_chek_answer {
    display: flex;
    align-items: center;
    font-size: 26px;
}

.task3_chek_answer span {
    font-size: 25px;
}